#Chialisp / CLVM output
*.hex
*.sym

# cargo / rust
vendor/
target/

# TLA
tla_plus/states
tla_plus/*_TTrace*

# Python files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
*.cpython*

# javascript
node_modules/
.yarn/
.pnp.cjs
.pnp.loader.mjs
.yarnrc.yml
# Virtual environments
.venv/
venv/

target/

# macos
.DS_Store

# Misc.
*.diff
*.bak
*.tmp