[Unit]
Description=Chia Gaming lobby
After=network.target

[Service]
ExecStart=/bin/sh -c "cd /app && node ./service.mjs"

[Install]
WantedBy=sysinit.target
