name: Build Dev Docker Container (ghcr only)

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}--${{ (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') || startsWith(github.ref, 'refs/heads/long_lived/')) && github.sha || '' }}
  cancel-in-progress: true

on:
  push:
    branches:
      - base
      - dev
  release:
    types: [published]
  pull_request:
    branches:
      - "**"

permissions:
  id-token: write
  contents: write
  packages: write

jobs:
  docker_build_and_publish_dev:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/chia-network/chia/dev
          tags: |
            type=raw,value=${{ github.sha }}

      - name: Set Job Env
        uses: Chia-Network/actions/setjobenv@main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.0

      - name: Build and smoke test docker image
        run: |
            set -e -x
        
            cleanup_container() {
              docker kill chia-gaming-test 2>/dev/null || true
              docker rm   chia-gaming-test 2>/dev/null || true
            }
        
            cleanup_container
            trap cleanup_container EXIT
        
            mv Dockerfile Dockerfile.non-ci
            sed -e 's/#CI //g' < Dockerfile.non-ci > Dockerfile
            docker build --platform linux/amd64 --progress=plain -t chia-gaming-test .
        
            docker run --name chia-gaming-test --network=host -t chia-gaming-test &
            docker image prune -f
        
            cd resources/fe-test
            ./wait-for-it.sh localhost:5800
            curl -d '' http://localhost:5800/wait_block | grep -E '[0-9]+'

      - name: Push docker image to github packages
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          no-cache: true
          push: true
          build-args: |
            "COMMIT=${{ github.sha }}"
          # tags: ${{ steps.meta.outputs.tags }}
          tags: chia-network/chia-gaming-dev:latest
          labels: ${{ steps.meta.outputs.labels }}





