name: Frontend

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}--${{ (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') || startsWith(github.ref, 'refs/heads/long_lived/')) && github.sha || '' }}
  cancel-in-progress: true

on:
  push:
    branches:
      - base
      - dev
  release:
    types: [published]
  pull_request:
    branches:
      - "**"

permissions:
  id-token: write
  contents: write

jobs:
  # All steps that were previously in 'build' now happen inside the docker container in build-test.
  frontend_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Job Env
        uses: Chia-Network/actions/setjobenv@main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.0

      - name: Smoke test docker image
        run: |
            set -e -x

            cleanup_container() {
              docker kill chia-gaming-test 2>/dev/null || true
              docker rm   chia-gaming-test 2>/dev/null || true
            }

            cleanup_container
            trap cleanup_container EXIT

            mv Dockerfile Dockerfile.non-ci
            sed -e 's/#CI //g' < Dockerfile.non-ci > Dockerfile
            docker build --platform linux/amd64 --progress=plain -t chia-gaming-test .

            docker run --name chia-gaming-test --network=host -t chia-gaming-test &
            docker image prune -f

            cd resources/fe-test
            ./wait-for-it.sh localhost:5800
            curl -d '' http://localhost:5800/wait_block | grep -E '[0-9]+'

      - name: do wasm tests in frontend
        run: |
          cleanup_container() {
            docker kill chia-gaming-test 2>/dev/null || true
            docker rm   chia-gaming-test 2>/dev/null || true
          }
          
          cleanup_container 
          trap cleanup_container EXIT

          docker run --name chia-gaming-test -t chia-gaming-test /app/test.sh

      - name: Extract Game side Artifact
        run: |
          cleanup_container() {
            docker kill chia-gaming-test 2>/dev/null || true
            docker rm   chia-gaming-test 2>/dev/null || true
          }
          
          cleanup_container 
          trap cleanup_container EXIT
          export GW=${{ github.workspace }}

          ./resources/extract-from-image.sh "${GW}"

      - name: Prune unreferenced image data
        run: |
          docker image prune -f

      - name: Run headless test
        env:
          DETECT_CHROMEDRIVER_VERSION: "true"
          FIREFOX_HEADLESS: "true"
        timeout-minutes: 20
        run: |
          sudo apt update
          sudo apt-get install -qy xvfb libnss3-dev libatk1.0-0 libatk-bridge2.0-0 libgtk-3-0 libgbm-dev libasound2t64
          (cd resources/fe-test && xvfb-run -a ./test.sh)

      - name: Cleanup xvfb pidx
        run: |
          xvfb_pids="$(pgrep tmp/xvfb-run | grep -v grep | awk '{print $2}')"
          if [ "$xvfb_pids" != "" ]; then
              echo "Killing the following xvfb processes: $xvfb_pids"
              sudo kill "$xvfb_pids"
          else
              echo "No xvfb processes to kill"
          fi

      - name: Archive chia-gaming-frontend
        uses: actions/upload-artifact@v4
        with:
          name: chia-gaming-frontend
          path: ${{ github.workspace }}/chia-gaming-deploy/g

      - name: Archive chia-gaming-lobby
        uses: actions/upload-artifact@v4
        with:
          name: chia-gaming-lobby
          path: ${{ github.workspace }}/chia-gaming-deploy/l

  release:
    runs-on: ubuntu-latest
    needs:
      - frontend_test
    steps:
      - uses: actions/checkout@v6

      - name: Set Env
        uses: Chia-Network/actions/setjobenv@main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Show artifacts
        run: tree artifacts

      - name: Generate artifact zips
        if: env.RELEASE == 'true'
        run: |
          cd ${{ github.workspace }}/artifacts || exit 1
          zip -r chia-gaming-frontend.zip chia-gaming-frontend
          zip -r chia-gaming-lobby.zip chia-gaming-lobby

      - name: Upload Release Artifacts
        if: env.RELEASE == 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          FILES=$(find ${{ github.workspace }}/artifacts -type f -name 'chia-gaming*.zip')
          while IFS= read -r file; do
            gh release upload \
              $RELEASE_TAG \
              $file
          done <<< "$FILES"
